<template lang="pug">
v-text-field#formula-input.mb-3(
  autofocus
  crearable
  single-line
  persistent-hint
  variant="underlined"
  color="primary"
  hint="Enter boolean expression here"
  :model-value="formula"
  @update:modelValue="updateFormula"
)
</template>

<script setup lang="ts">
import { useInjectFormula } from "@/composables/use-formula";

const { formula, updateFormula } = useInjectFormula();
</script>

<style>
#formula-input {
  text-align: center;
  font-size: 4em;
  font-weight: 200;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.1em;
  max-height: none !important;
}
</style>
