<template lang="pug">
v-container
  h2.text-h5.mb3 Parse tree
    v-btn(
      small
      density="compact"
      variant="text"
      color="primary"
      @click="saveTreeJson"
    ) Export to JSON
  v-treeview(
    :items="formulaTreeView.resultTree"
    density="compact"
    activatable
    open-all
  )
</template>

<script setup lang="ts">
import { useInjectFormula } from "@/composables/use-formula";
import { downloadObjectAsJson } from "@/lib/save-tree-as-json";

const { formulaTreeView } = useInjectFormula();

const saveTreeJson = (): void => {
  downloadObjectAsJson(
    JSON.stringify(formulaTreeView.value.sourceTree, null, 4),
    "vuejs-boolean-calculator-tree",
  );
};
</script>
