<template lang="pug">
v-container
  h2.text-h5.mb-3 Truth table
  table.tbl
    thead
      tr
        template(v-for="idee in identifiersView.identifiersArray" :key="idee.id")
          th {{ idee.value }}
        th f ({{ identifiersView.identifiersAsFunctionParameters }})
    tbody
      tr(v-for="bits in tableOfBits" :key="bits")
        template(v-for="(bit, index) in bits" :key="index")
          td {{ bit }}
        td {{ calculateExpr(bits) }}
</template>

<script setup lang="ts">
import { useInjectTruth } from "@/composables/use-truth";

const { calculateExpr, identifiersView, tableOfBits } = useInjectTruth();
</script>

<style scoped>
.tbl,
.tbl td,
.tbl th {
  border: 1px solid #cfcfcf;
}

.tbl td,
.tbl th {
  text-align: left;
  padding: 10px;
}

.tbl {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
</style>
