<template lang="pug">
v-tabs(
  align-tabs="center"
  bg-color="primary"
  color="white"
  stacked
  grow
)
  v-tab(
    v-for="route in routes"
    exact
    slider-color="cyan"
    :to="route.path"
    :key="route.path"
  )
    v-icon.mb-2(:icon="route.meta.icon")
    | {{ route.name }}
</template>

<script setup lang="ts">
import { routes } from "@/router/routes";
</script>
