<template lang="pug">
v-toolbar.px-4.elevation-5(color="primary")
  v-toolbar-title.text-grey-lighten-4.font-weight-regular.ml-0
    v-btn(icon href="https://vuejs.org/" target="_blank")
      v-avatar(image="@/assets/logo.png" size="25" rounded="0")
    span.text-vuelogo.ml-1 Vue.js
    |  boolean calculator
  v-spacer
  v-toolbar-items
    v-btn.text-grey-lighten-4(
      variant="text"
      href="https://gitlab.com/x-doggy/vuejs-boolean-calculator"
      target="_blank"
    )
      v-avatar.mr-2(image="@/assets/gitlab.svg" alt="Gitlab" size="25")
      | Source code
</template>

<script setup lang="ts"></script>
