<template lang="pug">
v-app
  toolbar
  v-container(grid-list-md)
    v-layout(row wrap)
      v-main
        formula-provider
          truth-provider
            input-form
              tab-switch
              router-view
</template>

<script setup lang="ts"></script>
